@model ModulesDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<br />
<h5>Kurs:</h5>
<div class="row">
    <div class="col-sm-12 col-md-9 col-lg-7">
        <h4>@Model.CourseName</h4>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 pl-md-1 pr-lg-5">
        @if (User.IsInRole("Teacher"))
        {
            <a asp-action="Create" class="btn btn-success" asp-controller="Modules" asp-route-courseId="@Model.Id">Skapa ny modul <i class="fa fa-plus"></i></a>
        }
    </div>
    <div class="col-lg-2">
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h6 class="mb-0">
                        <p>Kursstartdatum : @Model.StartDate </p>
                        <p>Beskrivning : @Model.Description </p>
                    </h6>
                </div>
            </div>
            @*<div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            Beskrivning >
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>@Model.Description </p>
                    </div>
                </div>
            </div>*@
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Moduler >
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse @(ViewBag.ShowModule ? "show" : "")" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div id="accordion">

                        @foreach (var module in Model.Modules)
                        {
                            string modid = String.Concat(module.Name.Where(c => Char.IsLetter(c)));
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-8 py-1">
                                            <button class="btn btn-primary btn-sm collapsed" data-toggle="collapse" data-target="#@modid" aria-expanded="false" aria-controls="@modid">
                                                @module.Name
                                            </button>
                                            @if (User.IsInRole("Teacher"))
                                            {
                                                <a class="pl-2" asp-action="Edit" asp-controller="Modules" asp-route-moduleId="@module.Id"><i class="fas fa-edit"></i></a>@: |
                                                <a asp-action="Delete" asp-controller="Modules" asp-route-Id="@module.Id"><i class="fas fa-trash-alt"></i></a>

                                            }

                                        </div>
                                        <div class="col-md-6 col-lg-4 py-1 float-right">
                                            @if (User.IsInRole("Teacher"))
                                            {
                                                <a asp-action="Create" asp-controller="Activities" asp-route-courseId="@module.CourseId" asp-route-moduleId="@module.Id" class="btn btn-success btn-sm text-white"> Lägg till Aktivitet <i class="fa fa-plus"></i></a>
                                                <a class="pl-2" asp-action="Edit" asp-controller="Activities" asp-route-moduleId="@module.Id"><i class="fas fa-edit"></i></a> @:|
                                                <a asp-action="Delete" asp-controller="Activities" asp-route-Id="@module.Id"><i class="fas fa-trash-alt"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div id="@modid" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <h6>Modul:</h6>
                                                <h5>@module.Name</h5>
                                                <p><b>Startdatum:</b>  @module.StartDate</p>
                                                <p><b>Slutdatum:</b> @module.EndDate</p>
                                                <p><b>Beskrivning:</b> @module.Description</p>
                                                @*@module.Id*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Aktiviteter
                                                            </th>
                                                            <th>
                                                                Datum
                                                            </th>
                                                            <th>
                                                                Tid
                                                            </th>
                                                            <th>
                                                                Beskrivning
                                                            </th>
                                                            @*<th>
                                                                Aktivitetstyp
                                                            </th>*@
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var activity in module.Activities)
                                                        {
                                                            @if (activity.ModuleId == module.Id)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @activity.Name
                                                                    </td>
                                                                    <td>
                                                                        @activity.StartDate.ToShortDateString()
                                                                    </td>
                                                                    <td>
                                                                        @activity.StartDate.ToShortTimeString()
                                                                    </td>
                                                                    <td>
                                                                        @activity.Description
                                                                    </td>
                                                                    @*<td>
                                        @activity.ActivityType
                                    </td>*@
                                                                    <td class="activity_edit_td">
                                                                        @if (User.IsInRole("Teacher"))
                                                                        {
                                                                            <a asp-action="Edit" asp-controller="Activities" asp-route-courseid="@module.CourseId" asp-route-activityid="@activity.Id"><i class="fas fa-edit"></i></a> @:|
                                                                            <a asp-action="Delete" asp-controller="Activities" asp-route-courseid="@module.CourseId" asp-route-activityid="@activity.Id"><i class="fas fa-trash-alt"></i></a>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    <tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 py-sm-4 py-md-3 py-lg-1">
        <div class="container">
            <div class="px-4">
                <h5>Kursmedlemmar:</h5>
            </div>
            <div>
                @foreach (var user in Model.UsersList)
                {

                    <ul>
                        <li>
                            @user.FirstName @user.LastName
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("Teacher"))
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit fa-lg"></i></a> |
            <a asp-action="Index">&nbsp;<i class="fas fa-list-alt fa-lg"></i></a>
        </div>
    </div>
}



