@model Course

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.CourseName</h1>



<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                @*<button class="btn btn-link btn-block text-left text-left text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4>@Model.CourseName</h4>*@

                <p>Startdatum : @Model.StartDate </p>


                @*</button>*@
            </h2>

        </div>


        @*<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>@Model.Description </p>
                </div>
            </div>*@
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    Beskrivning
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p>@Model.Description </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left text-dark font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Moduler
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse @(ViewBag.ShowModule ? "show" :"")" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Modul-lista
                @foreach (var moodule in Model.Modules)
                {
                    <div>
                        <h2>@moodule.Name</h2>
                        @*<h2>@moodule.Id</h2>*@

                        




                    </div>
                }
            </div>
        </div>
    </div>
</div>


@*<div>
        <h4>Course</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CourseName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
        </dl>
    </div>
    <div>*@

<div>

    <a asp-action="Create" class="btn btn-success" asp-controller="Modules" asp-route-courseId="@Model.Id">Skapa ny modul+</a>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
<a asp-action="Index">Tillbaka till kurslista</a>

