@model IndexStudentViewModel
@inject ICourseSelectService courseSelect

@{
    ViewData["Title"] = "StudentCourseDetails";
}

<div class="text-left">
</div>

<div>
    <h5>Min Sida</h5>

</div>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h4>@Model.CourseName </h4>
            <dl>

                <dt class="col-sm-2">
                    Namn
                </dt>
                <dd class="col-sm-10">
                    @Model.FirstName @Model.LastName
                </dd>

                <dt class="col-sm-2">
                    Email
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>


            </dl>
        </div>
        <div class="container" style="margin-top:30px;">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                    Kursbeskrivning >
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <dl>
                                    <dt class="col-sm-5">
                                        Kursnamn
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CourseName)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Startdatum
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CourseStartDate)
                                    </dd>
                                    <dt class="col-sm-5">
                                        Startdatum
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CourseDescription)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left text-dark font-weight-bold collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Moduler >
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse @(ViewBag.ShowModule ? "show" :"")" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div id="accordion">
                                <div class="card">
                                    @foreach (var module in Model.Modules)

                                    {
                                        <div class="card">
                                            <div class="card-header" id="headingFive">
                                                <div class="row">
                                                    <div class="col-md-8 col-lg-9">
                                                        <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                            @module.Name
                                                        </button>
                                                        &nbsp;<a asp-action="Edit" asp-controller="Modules" asp-route-moduleId="@module.Id"><i class="fas fa-edit"></i></a> |
                                                        <a asp-action="Delete" asp-controller="Modules" asp-route-Id="@module.Id"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                    <div class="col-md-4 col-lg-3 float-right">
                                                        <a asp-action="Create" asp-controller="Activities" asp-route-courseId="@module.CourseId" asp-route-moduleId="@module.Id" class="btn btn-success btn-sm text-white"> Lägg till Aktivitet <i class="fa fa-plus"></i></a>
                                                        &nbsp;<a asp-action="Edit" asp-controller="Activities" asp-route-moduleId="@module.Id"><i class="fas fa-edit"></i></a> |
                                                        <a asp-action="Delete" asp-controller="Activities" asp-route-Id="@module.Id"><i class="fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h6>Modul:</h6>
                                                            <h5>@module.Name</h5>
                                                            <p>Startdatum:  @module.StartDate</p>
                                                            <p>Slutdatum: :@module.EndDate</p>
                                                            <p>Beskrivning @module.Description</p>
                                                            @*@module.Id*@

                                                        </div>
                                                        <div class="col-md-8">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Aktivitet
                                                                        </th>
                                                                        <th>
                                                                            Datum
                                                                        </th>
                                                                        <th>
                                                                            Tid
                                                                        </th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (var activity in module.Activities)
                                                                    {
                                                                        @if (activity.ModuleId == module.Id)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @activity.Name
                                                                                </td>
                                                                                <td>
                                                                                    @activity.StartDate.ToShortDateString()
                                                                                </td>
                                                                                <td>
                                                                                    @activity.StartDate.ToShortTimeString()
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                <tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div>

                                                </div>
                                                <div class="card-body">
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container" style="margin-top:30px">
                        <div>
                            <h5>Kursmedlemmar:</h5>
                        </div>
                        <div>
                            @foreach (var user in Model.UsersList)
                            {

                                <ul>
                                    <li>
                                        @user.FirstName @user.LastName
                                    </li>
                                </ul>

                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="card-header" id="headingThree">
        <h2 class="mb-0">
            <a asp-action="Details" asp-route-id="@Model.Id">@Html.DisplayFor(modelItem => Model.CourseName)</a>
        </h2>
    </div>


</div>

