@model IEnumerable<IndexStudentsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Studenter</h1>
<br/>
<br />
<p>
    @*<a asp-action="CreateStudent">Lägg till Student</a>*@
    <a class="btn btn-success text-white popup" data-url="Teacher/CreateStudent"  data-toggle="modal" data-target="#modal-create-user" id="UserModel">Lägg till student <i class="fa fa-plus"></i></a>
</p>
<div class="alert alert-danger alert-dismissible fade hide" id="AlertDanger" role="alert">
    @TempData["StudentExists"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div id="Modal">
    <partial name="_Modal" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    <a asp-action="EditStudent" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-action="DetailsStudent" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="DeleteStudent" asp-route-id="@item.Id">Ta bort</a>
                </td>
            </tr>
        }


    </tbody>
</table>
@section Scripts{
    <script src="~/js/user.js" asp-append-version="true"></script>
    <script>
        $(function () {
            @if(@TempData["StudentExists"] != null)
            {
                @: $('.alert').removeClass('hide');
                @: $('.alert').addClass('show');
            }
        });

            @if(@TempData["StudentExists"] != null)
            {
                @: $('.alert').removeClass('hide');
                @: $('.alert').addClass('show');
            }
    </script>

}

