@model IEnumerable<IndexUsersViewModel>
@{
    var UserExists = TempData["UserExists"];
    var UserSuccess = TempData["UserSuccess"];
}

@{if (Model.FirstOrDefault().Role == "Student")
    {
    <div class="row">
        <div class="col-sm-7 col-md-8 col-lg-9">
            <h2>Studenter</h2>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3">
            <a asp-action="CreateUser" asp-route-role="Student" class="btn btn-success text-white popup" data-ajax="true" data-ajax-method="GET" data-ajax-success="success" data-ajax-update="#addUser" data-ajax-mode="replace">Lägg till student <i class="fa fa-plus"></i></a>
        </div>
    </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-9">
                <h2>Lärare</h2>
            </div>
            <div class="col-md-3">
                <a asp-action="CreateUser" asp-route-role="Teacher" class="btn btn-success text-white popup" data-ajax="true" data-ajax-method="GET" data-ajax-success="success" data-ajax-update="#addUser" data-ajax-mode="replace"> Lägg till lärare <i class="fa fa-plus"></i></a>
            </div>
        </div>
    }
}

@if (UserSuccess != null)
{
    <div class="alert alert-success alert-dismissible fade show" id="AlertDanger" role="alert">
        @TempData["UserSuccess"].ToString()

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (UserExists != null)
{
    <div class="alert alert-danger alert-dismissible fade show" id="AlertDanger" role="alert">
        @TempData["UserExists"].ToString()

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>

            @{ if (Model.FirstOrDefault().Role == "Student")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                @{ if (Model.FirstOrDefault().Role == "Student")
                    {
                        <td> @Html.DisplayFor(modelItem => item.CourseName)</td>
                    }
                }

                <td>
                    <a asp-action="EditUser" asp-route-id="@item.Id" asp-route-role="@item.Role"><i class="fas fa-edit"></i></a> |
                    <a asp-action="DetailsUser" asp-route-id="@item.Id" asp-route-role="@item.Role"><i class="fas fa-sticky-note"></i></a> |
                    <a asp-action="DeleteUser" asp-route-id="@item.Id" asp-route-role="@item.Role"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {


    @if (@TempData["UserSuccess"] != null)
    {
        @: $('.alert').removeClass('hide');
        @: $('.alert').addClass('show');
    }
    @if (@TempData["UserExists"] != null)
    {
        @: $('.alert').removeClass('hide');
        @: $('.alert').addClass('show');
    }
}

