@model IEnumerable<LMS_Lexicon.Core.Models.AuthorsDto>

@{
    ViewData["Title"] = "API-View";
}
<br/>
<div class="row">
    <div class="col-md-8"><h1>Författare</h1></div>
    <div class="col-md-3 px-sm-1 px-md-4 px-lg-6">
       
        @if (User.IsInRole("Teacher"))
        {
            <a asp-action="Create" class="btn btn-success text-white"> Lägg till författare <i class="fa fa-plus"></i></a>
        }
    </div>
</div>
        @*<table class="table table-borderless">

                <tbody>
                    <tr>

                        <td>
                            <p>
                            <h4><a asp-action="Create">Lägg till författare</a></h4>
                            </p>
                        </td>
                        <td>
                        Sök efter författare: @Html.TextBox("SearchString")
                        <input type="submit" value="Search" />
                        </td>

                    </tr>
                    </tbody>
            </table>*@

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Name)*@
                        @Html.ActionLink("Namn", "Index", new { sortOrder = ViewBag.NameSortParm })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Age)*@
                        Ålder
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*If student*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        @*if teacher *@
                        @if (User.IsInRole("Teacher"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.AuthorId"><i class="fas fa-edit"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.AuthorId"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        }


                    </tr>
                }
            </tbody>
        </table>
